<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Org.BBG.Org.BBG.Api.App"/>
      <class name="Org.BBG.Org.BBG.Api.AddCart"/>
      <class name="Org.BBG.Org.BBG.Api.AppTest"/>
      <class name="Org.BBG.store.getNearByDeliveryStore"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
